<main>
    <div class="container">
        <div class="home-section column-flex">
            <h1>W O R K  -  H U B</h1>
            <h3>Organize & Track Your Work</h3>
                 <img src="../assets/home-img.png" alt="landing image" height="400px" width="400px">
            <p>All-in-one project management platform that increases productivity and maintains team unity.</p>
            <app-primary-button [name]="'Get Started'" [icon]="'pi pi-arrow-right'" (onClick)="onButtonClick()"></app-primary-button>
        </div>
    </div>
</main>