.header{
    gap: 10px;
    margin: 0px;
    /* background-color: antiquewhite; */
 }
.title{
    justify-content: center;
}
.back-btn{
    justify-content: center;
}
i{
    font-size: 1.7rem;
}
i:hover{
    cursor: pointer;
}