<section class="project-section">
  <div class="project-header flex">
    <div class="header column-flex">
      <app-header title="Project Summary" [showBackButton]="false"></app-header>
    </div>
    <div class="add-button">
      <app-primary-button name="New Project" icon="pi pi-plus"></app-primary-button>
    </div>
</div>
@if (isProjectPresent) {
    <div class="project-table">
        <table>
           <thead>
               <tr>
                 <th>Name</th>
                 <th>Department</th>
                 <th>Team Lead</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               @for (project of projects; track $index) {
                   <tr>
                       <td>{{project.name}}</td>
                       <td>{{project.department}}</td>
                       <td>{{project.teamLead}}</td>
                       <td><div class="view"><i class="pi pi-eye"></i></div></td>
                   </tr> 
               }
             </tbody>
        </table>
       </div>
}@else {
    <app-no-data [heading]="'No records found'" [message]="'No current projects.'"></app-no-data>
}
</section>

